.container {
	display: flex;
	width: 100vw;
	height: 100vh;
	.left {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
		padding: 48px;
		background-color: #1677ff;
		.appIntro {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 8px;
			gap: 24px;
			width: 336px;
			height: 92px;
			.appLogo {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 8px;
				gap: 8px;
				width: 76px;
				height: 76px;
				background: #ffffff;
				border-radius: 16px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.appName {
				width: 220px;
				height: 46px;
				font-family: 'Verdana';
				font-style: normal;
				font-weight: 400;
				font-size: 32px;
				line-height: 46px;
				display: flex;
				align-items: center;
				text-align: center;
				color: #ffffff;
			}
		}
		.appWelcome {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 300px;
			height: 300px;
			margin-top: 100px;
		}
	}
	.right {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1.5;
		.loginTitle {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 6rem;
			padding: 0.5rem;
			gap: 0.5rem;
			height: 4.375rem;
			p {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: 0.5rem;
				gap: 0.5rem;
				width: 5rem;
				height: 3.625rem;
				font-size: 1.5rem;
			}
		}
		.loginForm {
			display: flex;
			flex-direction: column;
			p {
				height: 2.4375rem;
				font-size: 1rem;
				font-weight: 600;
				margin: 0;
				padding-bottom: 0.5rem;
			}
			.loginInput {
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 1rem 1.5rem;
				height: 3rem;
				border-radius: 0.5rem;
			}
			.loginButton {
				display: flex;
				margin: auto;
				justify-content: center;
				align-items: center;
				width: 10rem;
				height: 3rem;
				background: #e2e1ec;
				color: #45464f;
				font-size: 1rem;
				border-radius: 0.5rem;
				p {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&:hover {
					background: #1677ff;
					color: #ffffff;
				}
			}
		}
	}
}
