
.form-componet{
    display: flex;
    flex-direction: column;

    :global{ 
        // 顶部标签组
        .span-group{
            flex-basis: 10%;
            display: flex;
            flex-direction: row;
            width: 100%;

            .span-group-item{
                flex: 1;
            }
        }
        // 输入框组
        .input-group{
            flex-basis: 90%;
            display: flex;
            flex-direction: row;

            
        }
        .form-item{
            margin: 10px 10px;
        }

       
    }
}