.flex, .interfaceContentTwo, .responseContent {
	display: flex;
}

.flex {
	justify-content: space-between;
}

.interfaceContentTwo > div {
	margin-right: 15px;
}

.responseContent > div {
	margin-right: 25px;
}

span.left {
	color: #797D86;
	margin-right: 0.5em;
}

span.right {
	color: #404653;
}

.colorOne {
	font-size: 12px;
	color: #797D86;
}

.colorTwo {
	font-weight: 500;
	color: #666B90;
}

.gutter-horizontal:hover {
	cursor: e-resize;
}

.split {
	display: flex;
}

.splitLeft {
	border-radius: 8px 0 0 0;
	border-left: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
}

.splitRight {
	border-radius: 0 8px 0 0;
	border-right: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
}

.splitLeft .title, .splitRight .title {
	padding: 0.5em;
	border-bottom: 1px solid #f0f0f0;
}
