//初始化样式
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// react-split分屏组件公共样式
.gutter {
	background-color: #f2f4f7;
	background-repeat: no-repeat;
	background-position: 50%;
}
.gutter:hover {
	background-color: #1677ff;
}
.gutter.gutter-vertical {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
	cursor: row-resize;
}
